@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tc-accent: #1890ff;
  --tc-secondary: #a9a9a9;
  --tc-danger: #e91e63;
  --tc-warn: #ffc107;
  --tc-text-primary: #1d1d1d;
  --tc-bg-primary: #f3f3f3;
  --tc-bg-hover: rgba(0, 0, 0, 0.05);
  --tc-text-secondary: #f3f3f3;
  --tc-bg-secondary: #1d1d1d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --tc-accent: #1890ff;
    --tc-secondary: #a9a9a9;
    --tc-danger: #f57ea6;
    --tc-warn: #ffc107;
    --tc-text-primary: #dddddd;
    --tc-bg-primary: #0d0d0d;
    --tc-bg-hover: rgba(254, 254, 254, 0.05);
    --tc-text-secondary: #f3f3f3;
    --tc-bg-secondary: #1d1d1d;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color: var(--tc-text-primary);
  background: var(--tc-bg-primary);
  font-weight: 300;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .genre:not(:last-of-type)::after {
    content: ", ";
  }
}
.slide-prev {
  animation: slide-prev 0.2s ease-in-out;
}

.slide-next {
  animation: slide-next 0.2s ease-in-out;
}

@keyframes slide-prev {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-next {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0);
  }
}
