@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tc-accent: #1890ff;
  --tc-secondary: #a9a9a9;
  --tc-danger: #e91e63;
  --tc-warn: #ffc107;
  --tc-text-primary: #1d1d1d;
  --tc-bg-primary: #dddddd;
  --tc-bg-hover: rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --tc-accent: #1890ff;
    --tc-secondary: #a9a9a9;
    --tc-danger: #e91e63;
    --tc-warn: #ffc107;
    --tc-text-primary: #dddddd;
    --tc-bg-primary: #1d1d1d;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color: var(--tc-text-primary);
  background: var(--tc-bg-primary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .genre:not(:last-of-type)::after {
    content: ", ";
  }
}
